/* ===== GLOBAL ===== */

body{
    margin:0;
    font-family:"Segoe UI", Arial, sans-serif;
    background:#ffffff;
    color:#222;
}

/* NAVBAR */

nav{
    background:#0f172a;
    padding:16px;
    display:flex;
    justify-content:center;
    gap:28px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color:#38bdf8;
}

/* HERO */

.hero{
    padding:90px 20px 60px;
    text-align:center;
    background:#f8fafc;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.subtitle{
    font-size:20px;
    color:#555;
}

/* SECTION */

section{
    max-width:900px;
    margin:auto;
    padding:60px 20px;
}

h2{
    color:#0f172a;
    margin-bottom:15px;
}

/* CARDS */

.card{
    border:1px solid #e5e7eb;
    padding:22px;
    margin:18px 0;
    border-radius:8px;
    background:white;
}

/* FOOTER */

footer{
    text-align:center;
    padding:35px;
    background:#0f172a;
    color:white;
}
