/* ===== GLOBAL RESET ===== */

body{
    margin:0;
    font-family:"Inter", Arial, sans-serif;
    background:#0b1220;
    color:#e5e7eb;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:18px;
    background:#020617;
    border-bottom:1px solid #1f2937;
}

nav a{
    color:#e5e7eb;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color:#38bdf8;
}

/* PAGE CONTAINER */

section{
    max-width:1000px;
    margin:auto;
    padding:70px 20px;
}

/* HEADINGS */

h1, h2, h3{
    color:#ffffff;
}

/* PARAGRAPHS */

p{
    color:#d1d5db;
    line-height:1.6;
}

/* CARDS */

.card{
    background:#020617;
    padding:22px;
    margin:18px 0;
    border-radius:8px;
    border:1px solid #1f2937;
}

/* LINKS */

a{
    color:#38bdf8;
}

/* BUTTON */

.btn{
    background:#38bdf8;
    color:black;
    padding:12px 22px;
    border-radius:6px;
    text-decoration:none;
    font-weight:700;
}

/* FOOTER */

footer{
    text-align:center;
    padding:40px;
    background:#020617;
    border-top:1px solid #1f2937;
}
